{% extends 'entidades/index.html' %}


{% block titulo %}
<h1 class="mt-5">Acerca de mi</h1>
{% endblock titulo %}


{% block contenido %}
    <h1 style="font-family:verdana;">Copyright Renzo La Porta</h1>
    <h2>Este proyecto trata de simular lo que seria una inmobiliaria de venta y compra de autos</h2>
    <h2>Recomendaciones:</h2>
    <p style="font-size:180%; font-family:Times New Roman;">Primero, crear un usuario en la sección de "Registrarse" para comprar un auto y poder publicar reseñas, o un vendedor en la sección de "¿Eres vendedor?" para poder vender autos. Segundo, luego de haber creado un vendedor o usuario, se debería ingresar a la sección de "Vender" y publicar un auto. Por último, se debería probar comprar un auto y publicar una reseña. Todo lo que se ingrese se verá reflejado en la pestaña principal de cada sección en la tabla inferior. Cabe aclarar que cada uno de los beneficios mencionados en la web, los términos de uso y la política de privacidad son simplemente ficticios, además de cualquier otro agregado.</p>
    <h1>Funcionalidades principales:</h1>
    <h3>Registrarse:</h3>
    <p style="font-size:180%; font-family:Times New Roman;">En esta seccion el usuario puede registrarse como tal ingresando los datos necesarios</p>
    <h3>¿Eres vendedor?:</h3>
    <p style="font-size:180%; font-family:Times New Roman;">en esta seccion el usuario puede registrarse como vendedor. La diferencia con registrarse como usuario es que el ultimo solo puede comprar y el otro solo vender.</p>
    <h3>Reseña</h3>
    <p style="font-size:180%; font-family:Times New Roman;">En esta seccion el usuario selecciona un automovil para calificarlo y describir su experiencia.</p>
    <h3>Vender y comprar</h3>
    <p style="font-size:180%; font-family:Times New Roman;">En estas dos secciones el usuario tiene la posibilidad de comprar y vender veiculos</p>
    {% endblock contenido %}
    