{% extends 'entidades/index.html' %}


{% block titulo %}
<h1>Ingrese los datos y publique su automovil</h1>
<h5>Estamos comprometidos a ayudarle a encontrar el auto de sus sueños y facilitar todo el proceso de compra</h5>
<a class="btn btn-primary" href="{% url 'buscarAutomovil' %}">buscar</a>
{% endblock titulo %}

{% block contenido %}
<form action="" method="post">
    {% csrf_token %}
    <table>
        {{ form.as_table }}
    </table>
    <input class="btn btn-primary" type="submit" value="Comprar">
</form>
{% endblock contenido %}