{% extends 'entidades/index.html' %}


{% block titulo %}
<h1 class="mt-5">Politicas de privacidad</h1>
<h2>En AutoMarket, valoramos su privacidad y nos comprometemos a proteger su información personal. Esta Política de Privacidad describe cómo recopilamos, usamos, y protegemos su información cuando utiliza nuestro sitio web.</h2>
{% endblock titulo %}


{% block contenido %}
    <h1>1. Información que Recopilamos</h1>
    <p style="font-size:180%; font-family:Times New Roman;">-Información Personal: Recopilamos información que usted nos proporciona directamente, como su nombre, correo electrónico, dirección, número de teléfono y detalles del vehículo.
        <br>-Información Automática: Recopilamos automáticamente cierta información cuando utiliza la plataforma, como su dirección IP, tipo de navegador, páginas visitadas y tiempo de uso.</p>
    <h1>2. Uso de la Información</h1>
    <p style="font-size:180%; font-family:Times New Roman;">-Para Proveer Servicios: Utilizamos su información para operar y mantener la plataforma, procesar transacciones y comunicarnos con usted.
        <br>-Mejorar la Plataforma: Analizamos la información recopilada para mejorar y personalizar nuestra plataforma.Marketing: Podemos utilizar su información para enviarle promociones y noticias sobre AutoMarket, siempre que usted haya dado su consentimiento.</p>
    <h1>3. Compartir Información</h1>
    <p style="font-size:180%; font-family:Times New Roman;">-Proveedores de Servicios: Podemos compartir su información con terceros que nos ayudan a operar la plataforma y proporcionar servicios.
        <br>-Obligaciones Legales: Podemos divulgar su información si así lo exige la ley o en respuesta a solicitudes legales.</p>
    <h1>4. Seguridad de la Información</h1>
    <p style="font-size:180%; font-family:Times New Roman;">-Implementamos medidas de seguridad razonables para proteger su información personal contra acceso no autorizado, alteración, divulgación o destrucción.</p>
        <h1>5. Sus Derechos</h1>
        <p style="font-size:180%; font-family:Times New Roman;">-Acceso y Corrección: Usted tiene derecho a acceder, corregir o eliminar su información personal en cualquier momento.
            <br>-Opt-Out: Puede optar por no recibir comunicaciones de marketing siguiendo las instrucciones de cancelación de suscripción incluidas en nuestros correos electrónicos.</p>
    <h1>6. Cambios en la Política de Privacidad</h1>
    <p style="font-size:180%; font-family:Times New Roman;">-Nos reservamos el derecho de modificar esta Política de Privacidad en cualquier momento. Las modificaciones entrarán en vigor al publicarse en el sitio web.</p>
    {% endblock contenido %}