{% extends 'entidades/index.html' %}


{% block titulo %}
<h1 class="mt-5">Terminos de uso</h1>
<h2>Los siguientes Términos de Uso rigen el uso de nuestra plataforma AutoMarket. Al acceder o utilizar nuestro sitio web, usted acepta cumplir con estos términos. Si no está de acuerdo con alguno de estos términos, le solicitamos que no utilice nuestro sitio web.</h2>
{% endblock titulo %}


{% block contenido %}
    <h1>1. Uso de la Plataforma:</h1>
    <p style="font-size:180%; font-family:Times New Roman;">-Registro: Para utilizar ciertas funcionalidades de AutoMarket, debe registrarse y proporcionar información veraz y actualizada. Es su responsabilidad mantener la confidencialidad de su cuenta y contraseña.
        <br>-Compra y Venta: Los usuarios pueden listar automóviles en venta y comprar vehículos a través de la plataforma. AutoMarket no es responsable de la exactitud de la información proporcionada por los vendedores ni de la calidad de los automóviles.
        <br>-Contenido del Usuario: Al publicar contenido en AutoMarket, usted concede a la plataforma una licencia no exclusiva, mundial, libre de regalías para utilizar, reproducir, modificar y mostrar dicho contenido.</p>
    <h1>2. Conducta Prohibida</h1>
    <p style="font-size:180%; font-family:Times New Roman;">-Uso Inapropiado: No debe utilizar la plataforma para actividades ilegales, fraudulentas, difamatorias, abusivas o que infrinjan los derechos de terceros.
        <br>-Propiedad Intelectual: No debe violar los derechos de propiedad intelectual de AutoMarket o de terceros.</p>
    <h1>3. Responsabilidades</h1>
    <p style="font-size:180%; font-family:Times New Roman;">-Exención de Garantías: AutoMarket se proporciona "tal cual" y "según disponibilidad". No garantizamos que la plataforma sea ininterrumpida o libre de errores.
        <br>-Limitación de Responsabilidad: En la medida máxima permitida por la ley, AutoMarket no será responsable de daños indirectos, incidentales, especiales, consecuentes o punitivos.</p>
    <h1>4. Modificaciones y Terminación</h1>
    <p style="font-size:180%; font-family:Times New Roman;">-Cambios en los Términos: AutoMarket se reserva el derecho de modificar estos Términos de Uso en cualquier momento. Las modificaciones entrarán en vigor al publicarse en el sitio web.
        <br>-Terminación: Podemos suspender o terminar su acceso a la plataforma en cualquier momento, sin previo aviso, si violas estos términos o por cualquier otra razón.</p>
    <h1>5. Ley Aplicable</h1>
    <p style="font-size:180%; font-family:Times New Roman;">-Estos Términos de Uso se regirán e interpretarán de acuerdo con las leyes de España, sin tener en cuenta sus principios de conflictos de leyes.</p>
    {% endblock contenido %}
    

