{% extends 'entidades/index.html' %}


{% block titulo %}
<h1>Beneficios de tener cuenta en Auto Market</h1>
<h5>1. accseso exclusivo a ofertas y descuentos</h5>
<h5>2. Gestion de veiculos personalizada</h5>
<h5>3. Recomendaciones personalizadas</h5>
{% endblock titulo %}

{% block contenido %}
<form action="" method="post">
    {% csrf_token %}
    <table>
        {{ form.as_table }}
    </table>
    <input class="btn btn-primary" type="submit" value="registrarse">
</form>
{% endblock contenido %}